<div ng-controller="topicsController">
	<a href="#/dashboard">Dashboard</a> | <a href="#/">Logout</a>
	<p><a href="#/showUser/{{topicInfo._user._id}}">{{topicInfo._user.name}}</a> posted a topic:</p>
	<p>Topic Title: {{topicInfo.topic}}</p>
	<p>Topic Description: {{topicInfo.description}}</p>
	<p>Post your answer here...</p>
	<textarea rows="3" cols="20" ng-model="newPost.post"></textarea>
	<button ng-click="addPost()">Post</button>
	<h4>Answers:</h4>
	<div ng-repeat="posts in posts.posts">
		<hr> 
		<p class="posts"><a href="#/showUser/{{posts._user._id}}">{{posts._user.name}}</a>: {{posts.post}}</p>
		
		<button ng-click="like(posts._id, posts._topic, posts._user._id)">Like</button>
		<span class="likes">{{posts.likes}} likes</span>
		
		<button ng-click="dislike(posts._id, posts._topic, posts._user._id)">Dislike</button>
		<span class="dislikes">{{posts.dislikes}} dislikes</span><br>
		
		<div ng-repeat="comment in posts.comments">
			<p class="comments"><a href="#/showUser/{{comment._user._id}}">{{comment._user.name}}</a>: {{comment.comment}}</p>
		</div>
		
		<textarea ng-model="newComment[posts._id]" rows="3", cols="20"></textarea>
		<button ng-click="addComment(posts._id, newComment[posts._id])">Comment</button>
	</div>
	
</div>